:root {
  --dark-bg-dark: hsl(0 0% 0%);
  --dark-bg: hsl(0 0% 5%);
  --dark-bg-light: hsl(0 0% 10%);
  --dark-bg-text: hsl(0 0% 95%);
  --dark-bg-text-muted: hsl(0 0% 50%);

  --light-bg-dark: hsl(0, 0%, 90%);
  --light-bg: hsl(0, 0%, 95%);
  --light-bg-light: hsl(0, 0%, 100%);
  --light-bg-text: hsl(0 0% 5%);
  --light-bg-text-muted: hsl(0 0% 30%);

  --red: oklch(0.3144 0.128 26.66);

  --red-10: oklch(0.1 0.2 40);
  --red-20: oklch(0.35 0.2 40);
  --red-30: oklch(0.6 0.2 40);
  --red-40: oklch(0.85 0.2 40);
  --red-50: oklch(1 0.2 40);

  --shadow-s:
    inset 0 1px 2px #ffffff30, /* top highlight */
    0 1px 2px #00000030, /* dark shadow */
    0 2px 4px #00000015; /* soft shadow */

  --shadow-m:
    inset 0 1px 2px #ffffff50, /* top highlight */
    0 2px 4px #00000030, /* dark shadow */
    0 4px 8px #00000015; /* soft shadow */

  --shadow-l:
    inset 0 1px 2px #ffffff70, /* top highlight */
    0 4px 6px #00000030, /* dark shadow */
    0 6px 10px #00000015; /* soft shadow */

  --max-container-width: 1000px;
  --curve-radius: 75px;

  --header-height: 60px;
  --header-border-radius: calc(var(--header-height) / 2);

  @media (min-width: 768px) {
    --curve-radius: 155px;
    --header-height: 80px;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--dark-bg-text);
  background-color: var(--dark-bg);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.button {
  align-items: center;
  display: flex;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  gap: 1rem;
  padding: 0.75rem 2rem;
  text-decoration: none;
  transition: all 0.2s ease;
  width: fit-content;
}

.button:hover {
  color: var(--white);
  background: transparent;
}

