.page {
  background-color: var(--dark-bg-dark);
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

.main {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  z-index: 1;
  @media (max-width: 600px) {
    align-items: center;
  }
}
