.cartIconWrapper {
  display: grid;
  place-items: center;
  position: relative;
}

.cartQuantity {
  background-color: var(--red-20);
  bottom: calc(90%);
  border-radius: 0.5rem;
  color: var(--dark-bg-text);
  display: grid;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0 0.375rem;
  place-items: center;
  position: absolute;
  left: calc(90%);
}
