.header {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: var(--header-border-radius);
  box-shadow: 2px 4px 12px #00000050;
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 1rem 1.75rem;
  position: fixed;
  top: 0.25rem;
  left: 0.25rem;
  width: calc(100% - 0.5rem);
  z-index: 99;

  .typeLogo {
    color: var(--white);
    font-weight: 400;
    font-size: 1.25rem;
  }
}

