.header {
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  width: 100%;

  .typeLogo {
    color: var(--white);
    font-weight: 400;
    font-size: 1.25rem;
  }
}

