
.hero {
  background-color: var(--dark-bg);
  color: var(--dark-bg-text);
  height: calc(100svh - var(--header-height));
  max-height: 1440px;
  min-height: 750px;
  position: relative;
  padding-top: var(--header-height);
  width: 100%;
}

.heroContentContainer {
  display: grid;
  height: 100%;
  margin: auto;
  padding: 1rem;
  place-items: center;
  position: relative;
  z-index: 2;
}

.heroContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: calc((var(--curve-radius) + 4rem) * -1);
  position: relative;
}

.logo {
  position: absolute;
  top: -50%;
  left: -35%;
  user-select: none;
  pointer-events: none;
  font-family: serif;
  z-index: 1;
}

.heroContent * {
  text-align: center;
}

.tagline {
  color: var(--dark-bg-text-muted);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.title {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 1rem 0;
}

.subtitle {
  font-size: 0.75rem;
  color: var(--dark-bg-text-muted);
  max-width: 350px;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}

.ctaButton {
  background: var(--light-bg);
  color: var(--light-bg-text);
  margin-bottom: 1rem;
}

.subText {
  font-size: 0.75rem;
  color: var(--dark-bg-text-muted);
}

@media (min-width: 768px) {
  .logo {
    height: 600px;
    width: 600px;
  }

  .title {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1rem;
    max-width: 450px;
  }

  .ctaButton {
    margin-bottom: 1rem;
  }

  .subText {
    font-size: 0.75rem;
  }
}
